---
apiVersion: metal.sidero.dev/v1alpha1
kind: ServerClass
metadata:
  name: qemu
spec:
  qualifiers:
    cpu:
      - manufacturer: "QEMU"
    systemInformation:
      - manufacturer: "QEMU"
  configPatches:
    - op: replace
      path: /machine/install/disk
      value: /dev/vda
    - op: add
      path: /machine/sysctls
      value:
        vm.nr_hugepages: "1024"
    - op: add
      path: /machine/nodeLabels
      value:
        openebs.io/engine: mayastor
